@using NotesRepository.Data.Models
@using NotesRepository.Repositories
@using NotesRepository.Services
@using System.Collections.ObjectModel

@inject DialogService DialogService
@inject IToastService toastService;
@inject NoteService noteService;
@inject UserRepository userRepository;
@inject EventService eventService;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor



<RadzenTemplateForm TItem="Event" Data="@model" Submit="async () => await OnSubmit(model)">
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="Text" />
    </div>
    <div class="col">
        <RadzenTextBox @bind-Value="@model.Content" Name="Content" />
        <RadzenRequiredValidator Text="Title is required" Component="Content" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="Start" />
    </div>
    <div class="col">
        <RadzenDatePicker @bind-Value="@model.StartAt" Name="StartAt" ShowTime="true" />
        <RadzenRequiredValidator Text="Start is required" Component="StartAt" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="End" />
    </div>
    <div class="col">
        <RadzenDatePicker Name="EndAt" @bind-Value="@model.EndAt" ShowTime="true" />
        <RadzenRequiredValidator Component="EndAt" Text="End is required" />
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col">
      <div class="form-check my-2">
  <input class="form-check-input" type="checkbox" value="" id="checkingRemainder"> @*TO DO  sprawdzenie eventu i podpinanie remaindera*@
  <label class="form-check-label" for="flexCheckDefault">
    Set remainder
  </label>
</div>
    </div>
    <div class="col">
        <RadzenLabel Text="Note Title" />
        <InputSelect @bind-Value="@noteId">
            @foreach (var note in allNotes)
                    {
                        <option value=@note.NoteId>@note.Title</option>
                    }
        </InputSelect>
        @*<RadzenTextBox Placeholder ="to do"  Name="Note Title" />*@
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col">
        <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
    </div>
</div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public DateTime StartAt { get; set; }

    [Parameter]
    public DateTime EndAt { get; set; }

    Event model = new Event();
    private List<Note>? allNotes = new();
    private Note note = new();
    private string noteId;

    protected override async Task OnInitializedAsync()
    {
        ApplicationUser loggedUser = await userRepository.GetUserByEmailAsync(httpContextAccessor.HttpContext.User.Identity.Name);
        model.User = loggedUser;
        model.EventId = Guid.NewGuid();
        allNotes = await noteService.GetAllUserNotesByIdAsync(loggedUser.Id);
    }

    protected override void OnParametersSet()
    {
        model.StartAt = StartAt;
        model.EndAt = EndAt;
    }

    async Task OnSubmit(Event model)
    {
        //DialogService.Close(model);

        var added = await eventService.AddAsync(model);
        var returned = await eventService.GetByIdAsync(model.EventId);
        var attached = await eventService.AttachNoteToEventAsync(model.EventId, Guid.Parse(noteId));

        
        //TO DO zapisanie do bazy danych
    }

}
