@using NotesRepository.Data.Models
@using NotesRepository.Repositories
@using NotesRepository.Services

@inject DialogService DialogService
@inject IToastService toastService;
@inject NoteService noteService;
@inject UserRepository userRepository;
@inject EventService eventService;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

<RadzenTemplateForm TItem="Event" Data="@model" Submit=@OnSubmit>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="Text" />
    </div>
    <div class="col">
        <RadzenTextBox @bind-Value="@model.Content" Name="Content" />
        <RadzenRequiredValidator Text="Title is required" Component="Content" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="Start" />
    </div>
    <div class="col">
        <RadzenDatePicker @bind-Value="@model.StartAt" Name="StartAt" ShowTime="true" />
        <RadzenRequiredValidator Text="Start is required" Component="StartAt" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="End" />
    </div>
    <div class="col">
        <RadzenDatePicker Name="EndAt" @bind-Value="@model.EndAt" ShowTime="true" />
        <RadzenRequiredValidator Component="EndAt" Text="End is required" />
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col">
      <div class="form-check my-2">
  <input class="form-check-input" type="checkbox" value="" id="checkingRemainder"> @*TO DO  sprawdzenie eventu i podpinanie remaindera*@
  <label class="form-check-label" for="flexCheckDefault">
    Set remainder
  </label>
</div>
    </div>
      <div class="col">
        <RadzenLabel Text="Note Title" />
          <InputSelect @bind-Value="@noteId">
                @if (noteId==null)
                    {
                        <option selected value=>---</option>
                    }
                    else 
                    {
                        <option value=>---</option>
                    }
                @foreach (var note in allNotes)
                {
                    @if (note.NoteId.ToString().Equals(noteId))
                    {
                        <option selected value=@note.NoteId>@note.Title</option>
                    }
                    else
                    {
                        <option value=@note.NoteId>@note.Title</option>
                    }
                }
            </InputSelect>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col">
        <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
    </div>
</div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public Event Event { get; set; }

    Event model = new Event();
    private List<Note>? allNotes = new();
    private Note note = new();
    private string noteId;

    protected override async Task OnInitializedAsync()
    {
        model = Event;
        ApplicationUser loggedUser = await userRepository.GetUserByEmailAsync(httpContextAccessor.HttpContext.User.Identity.Name);
        allNotes = await noteService.GetAllUserNotesByIdAsync(loggedUser.Id);
        
        if(model.Note != null)
        {
            note = await noteService.GetNoteByIdAsync(model.Note.NoteId);
            noteId = note.NoteId.ToString();
        }
        else noteId = null;

    }



    async Task OnSubmit(Event model)
    {

        var attached = true;

        if(noteId != null && noteId!="")
        attached = await eventService.AttachNoteToEventAsync(model.EventId, Guid.Parse(noteId));
        else 
            {
                toastService.ShowError("it is not possible to detach the note from the event yet");
                attached = false;
            }
        var update = await eventService.UpdateAsync(model);

        DialogService.Close(model);
        if (update && attached)
            toastService.ShowSuccess("Success");
        else
            toastService.ShowError("Error");
    }
} 