@page
@using NotesRepository.Shared.Resources

@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource> localizer;
@model RegisterModel
@{
    ViewData["Title"] = @localizer["register"];
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="~/css/socialButtons.css" />

<h1 class="text-center" style="margin-bottom:30px">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3 class="text-center">@localizer["createAccount"]</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" data-ref="summary-validation" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" data-ref="first-name" class="form-control" autocomplete="firstname" aria-required="true" />
                <label>@localizer["firstName"]</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" data-ref="last-name" class="form-control" autocomplete="lastname" aria-required="true" />
                <label>@localizer["lastName"]</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" data-ref="e-mail" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" data-ref="email-validation" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" data-ref="password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label>@localizer["password"]</label>
                <span asp-validation-for="Input.Password" data-ref="password-validation" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" data-ref="confirm-password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label>@localizer["confirmPassword"]</label>
                <span asp-validation-for="Input.ConfirmPassword" data-ref="confirm-password-validation" class="text-danger"></span>
            </div>
            <button id="registerSubmit" data-ref="register" type="submit" class="w-100 btn btn-lg btn-primary">@localizer["register"]</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3 class="text-center">@localizer["anotherRegister"]</h3>
            <hr />
            @{
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div class="text-center">
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                if (provider.DisplayName.Equals("Google"))
                                {
                                    <button type="submit" class="fa fa-google" name="provider"
                                    value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <span class="si-text">@localizer["registerWithGoogle"]</span>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                        @provider.DisplayName
                                    </button>
                                }
                            }
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
